html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

main, .display_card {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.title, .description, .save {
  width: 100%;
}

.card {
  width: 50%;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.title_button {
  display: flex;
  justify-content: space-between;
}